/** @format */

// Color variables
$black: #323232;
$darkblack: #000000;
$silver: #afafaf;
$mercury: #e1e1e1;
$white: white;
$alabaster: #fafafa;
$brainflix-blue: #0095ff;
$brainflix-darkblue: #0065ad;

// Breakpoint variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Spacing variables
$nonmobile-general-spacing: 36px;
$desktop-side-spacing: 128px;
$spacer: 16px; // Increment of 16px
